Source: ros-melodic-exotica-val-description
Section: misc
Priority: extra
Maintainer: Wolfgang Merkt <wolfgang.merkt@ed.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-exotica-val-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: val_description version including our updated meshes for unit testing and visualisation.
 Based on the OpenHumanoids fork of the val_description package by NASA JSC. The most current version of the original package can be found at http://gitlab.com/nasa-jsc-robotics/val_description
